/* limit the amount of shortcuts */
@-moz-document url(about:newtab), url("about:home") { 
  .top-sites-list { display: flex; justify-content: center; }
  :nth-child(n+9 of li.top-site-outer) { display:none !important; }
}

/* force enable light color sheme for webpages */
@-moz-document domain(dictionary.cambridge.org) {
  body, html {
    background: white !important;
    color: black !important;
  }
}
/* etc. */
